h1{
   color: red;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
  }

p{
   color: rgb(0, 255, 34);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
  }

img{
   border: 8px solid blueviolet;
  }
    